.back{
    border: 1px solid var(--neutral-light-gray);
    border-radius: 4px;
    width: 100px;
    height: 44px;
    text-align: center;
    background-color: transparent;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--neutral-black);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.back-icon{
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-right: 10px;
}