:root {
	--neutral-lighter-gray: #f1f1f1;
	--neutral-light-gray: #e3e3e3;
	--neutral-gray: #adadad;
	--light-theme-blue: #46a3ff;
	--light-theme-green: #00c096;
	--light-theme-red: #ff827e;
	--light-theme-yellow: #ffb048;
	--background-light: #fff;
	--text--light-primary: #000;
	--text-light-secondary: #adadad;
	--bottom-bar-light-background: #46a3ff;
	--bottom-bar-light-active-color: #fff;
	--bottom-bar-light-inactive-color: #2475c5;
	--field-light-disabled: #f1f1f1;
	--field-light-empty: #e3e3e3;
	--field-light-filled-x: rgba(70, 163, 255, 0.2);
	--field-light-stroke-x: #46a3ff;
	--field-light-filled-o: rgba(255, 130, 126, 0.2);
	--field-light-stroke-o: #ff827e;
	--neutral-black: #000;
}

[data-theme="dark"]{
	--neutral-black: #fff;
	--neutral-light-gray: #808080;
	--neutral-lighter-gray: #575757;
	--neutral-lightest-gray: #282828;
	--light-theme-light-blue: #212835;
	--light-theme-lighter-blue: #12161f;
	--light-theme-light: #0c1017;
	--light-theme-blue: #2475c5;
	--light-theme-green: #00a682;
	--light-theme-red: #e45651;
	--field-light-disabled: #12161f;
	--field-light-empty: #212835;
	--field-light-filled-x: rgba(36, 117, 197, 0.2);
	--field-light-stroke-x: #2475c5;
	--field-light-filled-o: rgba(228, 86, 81, 0.2);
	--field-light-stroke-o: #e45651;
	--bottom-bar-light-background: #212835;
	--bottom-bar-light-active-color: #adadad;
	--bottom-bar-light-inactive-color: #12161f;
	--text-light-primary: #adadad;
	--text-light-secondary: #575757;
	--background-light: #0c1017;
}

:root {
  --font-family: "Roboto", sans-serif;
}


.dark{
    filter: invert(1);
}

.app-container{
	background-color: var(--background-light);
}